@import "https://yarnpkg.com/en/package/normalize.css";

    /*Grid*/

    .grid-container {
      display:grid;
      grid-gap: 20px;
    }

    .inner-item-grid {
      display: grid;
      grid-template-columns: 50px 1fr;
}
    .container-1 {
      display: grid;
      grid-template-columns: 6fr 3fr;
      background-color: #ffc017;
      border-block: 1px solid black;
    }
    .container-2 {
      display: grid;
      background-color: #ffc017;
      font-size: 24px;
      height: 100%;
    }
    .container-2 p {
      color: black;
      font-style: normal;

    }
    .container-2 .item {
      line-height: 24px;
      width: 550px;
    }
    .container-3 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 5px;
    }
    .container-3 h4 {
      font-weight: 500;
      font-size: 13px;
    }
    .container-4 {
      display: grid;
      grid-template-columns: 6fr 3fr;
    }
    .container-5 {
      display: grid;
      grid-template-columns: 6fr 3fr;
    }
