@import "https://yarnpkg.com/en/package/normalize.css";

    /*Main Content*/

    .main-content p {
      color: rgba(117, 117, 117, 1);

    }
    .main-content h2 {
      letter-spacing: 0;
      line-height: 28px;
      font-size: 22px;
      font-weight: 700;
      overflow: hidden;
    }
    .trending p {
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0;
      overflow: hidden;
      line-height: 20px;
    }
    .trending h3 {
      letter-spacing: 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
    .trending-on-medium-icon {
      height: 20px;
      width: 20px;
      margin-right: 10px;
    }
    .section-outer.trending-border {
      border-bottom: 1px solid #eee;
    }
