    @import "https://yarnpkg.com/en/package/normalize.css";
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300;1,400&display=swap');
    body {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      font-family:"Helvetica Neue", Helvetica, arial, "Open Sans", sans-serif;
    }
    p {
      font-style: italic;
      color: slategrey;
    }
    .grid-container {
      display:grid;
      grid-gap: 20px;
    }
    .item {
      border: 1px solid goldenrod;
      padding: 5px;
    }
    .container-1 {
      display: grid;
      grid-template-columns: 6fr 3fr;
      background-color: #ffc017;
    }
    .container-2 {
      display: grid;
      background-color: #ffc017;
    }
    .container-2 p {
      color: black;
      font-style: normal;

    }
    .container-3 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 5px;
    }
    .container-4 {
      display: grid;
      grid-template-columns: 6fr 3fr;
    }
    .container-5 {
      display: grid;
      grid-template-columns: 6fr 3fr;
    }
