/* buttons */


button,
input[type="submit"],
.button-primary {
  display: inline-block;
  border-radius: 100px;
  border: 1px solid white;
  background-color: white;
  color: #000;
  font-size: 16px;
  padding: 10px 30px;
  text-decoration: none;
}

.button-secondary {
  display: inline-block;
  border-radius: 100px;
  border: 1px solid black;
  background-color: black;
  color: #fff;
  font-size: 22px;
  padding: 10px 30px;
  text-decoration: none;
}

.header-get-started-button {
  background-color: black;
  border: none;
  color: whitesmoke;
  padding: 7px 16px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 99em;
}

.header-start-reading-button {
  background-color: black;
  border: none;
  color: whitesmoke;
  padding: 7px 20px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 99em;
  font-size: 20px;
  width: 213px;
}
