@import "https://yarnpkg.com/en/package/normalize.css";

body {
  padding-top: 100px;
  max-width: 100%;
  margin: 0 auto;
}
.grid-container {
  display: grid;
  grid-gap: 20px;
/*  padding: 10px;*/
}
.item {
  background-color: #eee;
/*  border: 1px solid indianred;*/
  padding: 10px;
}
.container1 {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: solid 1px ghostwhite;
  border: solid 1px #000;
  background-color: #4479ff;
}
.container1 .item {
  background-color: #4479ff;
}
.fuel-great-thinking {
  text-align: center;
  padding-bottom: 105px;
  padding-top: 105px;
}
.fuel-great-thinking .button-primary {
  margin: 20px 0;
}
.container1 h2 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 25px;
  font-size: 7.3vw;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: -0.35vw;
}
.container1 p {
  color: #fff;
  text-align: center;
  max-width: 460px;
}
.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid 1px ghostwhite;
  background-color: #4479ff;
}
.container2 .item {
  background-color: #4479ff;
  color: #fff;
}
.container2 h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 3.2vw;
  font-weight: 400;
  letter-spacing: -0.12vw;
}
.text-img1 {
  width: 260px;
  height: auto;
  padding: 20px;
}
.text-img2 {
  width: 260;
  height: auto;
  padding: 20px;
}
.container2 span {
  color: #fff;
  padding: 20px;
  font-size: 18px;
}
.container3 {
  display: grid;
  grid-template-columns: 1fr;
  border: solid 1px #000;
  background-color:#fff;
}
.container3 .item {
  background-color: #fff;
  text-align: center;
  padding-top: 66px;
  padding-bottom: 66px;
}
.container3 .h2-center-wrap {
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'GT super text book', Georgia, sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: none;
}
.carousel-half-circle {
  display: inline-block;
  height: 133px;
  width: 75px;
  background-color: #f55181;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 100%;
}
.carousel-half-circle-2 {
  display: inline-block;
  height: 133px;
  width: 75px;
  background-color: #f55181;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 100%;
  background-color: #34a245;
}
.carousel-slide-inner {
  max-width: 700px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.slide-img {
  width: 150px;
  height: auto;
  text-align: right;
}
.container3 .header-2 {
  color: black;
}
.container4 {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid #000;
  background-color: #bcdfff;
}
.container4 .item {
  background-color: #bcdfff;
}
.take-your-mind {
  text-align: center;
}

.container4 h1 {
  text-align: center;
}
.container5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fff;

  margin-top: 0px;
  margin-bottom: 0px;
  padding: 24px 60px 24px 35px;
  justify-content: space-between;
  align-items: center;
}
.container5 .item {
  background-color: #fff;
}
.medium-footer img {
  width: 100px;
  height: auto;
}
.medium-footer ul {
  list-style: none;
}
.medium-footer li {
  display: inline-block;
  font-size: 10px;
}
