<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Medium 1.0</title>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/application.css">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/page-landing.css">

  </head>
  <body>
    <header class="section-outer">
      <div class="section-inner header-inner">
        <img src="../../assets/images/medium-logo.png">
        <nav>
          <ul>
            <li><a href="#">Our story</a></li>
            <li><a href="#">Membership</a></li>
            <li><a href="#">Write</a></li>
            <li><a href="#">Sign In</a></li>
            <li><a class="header-get-started-button" href="#">Get Started</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="section-outer hero">
      <div class="section-inner">
        <h1>Stay curious.</h1>
        <p>Discover stories, thinking, and expertise from writers on any topic.<p>
          <a class="header-start-reading-button" href="#">Start Reading</a>
      </div>
    </div>

    <div class="section-outer trending-border">
      <div class="section-inner trending">
        <h3>
          <img class="trending-on-medium-icon" src="../../assets/images/trending-on-medium-icon.png">
          Trending on Medium
        </h3>
        <div class="grid-container container-3">
          <div class="item">
            <div class="inner-item-grid">
              <div>
                <span class="item-number">01</span>
              </div>
              <div>
                <h4> Ted Bauer</h4>
                <p>University of Idaho Murders: Now it looks like John "Jack" Showalter, right?</p>
                <span>Date</span>
                <span> · </span>
                <span>5 min read</span>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="inner-item-grid">
              <div>
                <span class="item-number">02</span>
              </div>
              <div>
                <h4>Ted Bauer</h4>
                <p>University of Idaho Murders: Now it looks like John "Jack" Showalter, right?</p>
                <span>Date</span>
                <span> · </span>
                <span>5 min read</span>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="inner-item-grid">
              <div>
                <span class="item-number">03</span>
              </div>
              <div>
                <h4>Ted Bauer</h4>
                <p>University of Idaho Murders: Now it looks like John "Jack" Showalter, right?</p>
                <span>Date</span>
                <span> · </span>
                <span>5 min read</span>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="inner-item-grid">
              <div>
                <span class="item-number">04</span>
              </div>
              <div>
                <h4>Ted Bauer</h4>
                <p>University of Idaho Murders: Now it looks like John "Jack" Showalter, right?</p>
                <span>Date</span>
                <span> · </span>
                <span>5 min read</span>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="inner-item-grid">
              <div>
                <span class="item-number">05</span>
              </div>
              <div>
                <h4>Ted Bauer</h4>
                <p>University of Idaho Murders: Now it looks like John "Jack" Showalter, right?</p>
                <span>Date</span>
                <span> · </span>
                <span>5 min read</span>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="inner-item-grid">
              <div>
                <span class="item-number">06</span>
              </div>
              <div>
                <h4>Ted Bauer</h4>
                <p>University of Idaho Murders: Now it looks like John "Jack" Showalter, right?</p>
                <span>Date</span>
                <span> · </span>
                <span>5 min read</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-outer">
      <div class="section-inner main-content">
      <h3>Main Content 66/33</h3>
      <div class="grid-container container-4">
        <div class="item">
          <div class="grid-container container-5">
            <div class="item">
              <h4>David Bowles</h4>
              <h2>Braiding Past into Future</h2>
              <p>Nican Heuhcatlahtolli, a New Futureism </p>
                <span>Date</span>
                <span> · </span>
                <span>5 min read</span>
                <span> · </span>
                <span> Keyword </span>
            </div>

            <div class="item">
              <img src="https://images.unsplash.com/photo-1452696193712-6cabf5103b63?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80" alt="future" width="200" height="134">
            </div>

            <div class="item">
              <h4> Ed Ergenzinger in Invisible Illness</h4>
              <h2>Learning to Cope with Estrangement: When Children "Cancel" Their Parents.</h2>
              <p>An estranged father reflects on the stigma and surprising prevalence of these family rifts.</p>
                <span>Date</span>
                <span> · </span>
                <span>5 min read</span>
                <span> · </span>
                <span> Keyword </span>
            </div>

            <div class="item">
              <img src="https://images.unsplash.com/photo-1594394874672-239f6deae764?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80" alt="seperation" width="200" height="134">
            </div>

            <div class="item">
              <h4>Thomas Smith</h4>
              <h2>ChatGPT Is Having a Thomas Edison Moment</h2>
              <p>Why breakthrough technologies need to be accessible.</p>
                <span>Date</span>
                <span> · </span>
                <span>5 min read</span>
                <span> · </span>
                <span> Keyword </span>
            </div>

            <div class="item">
              <img src="https://images.unsplash.com/photo-1530790359200-e2cac35c770d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80" alt="breakthrough" width="200" height="134">
            </div>
          </div>
        </div>

        <div class="item">
          <div class="discover-more">
            <h4>Discover More of What Matters To You</h4>
            <a class="discover-more" href="">Programming</a>
            <a class="discover-more" href="">Data Science</a>
            <a class="discover-more" href="">Technology</a>
            <a class="discover-more" href="">Self Improvement</a>
            <a class="discover-more" href="">Writing</a>
            <a class="discover-more" href="">Relationships</a>
            <a class="discover-more" href="">Machine Learning</a>
            <a class="discover-more" href="">Productivity</a>
            <a class="discover-more" href="">Politics</a>
          </div>
          <div>
            <a class="footer-links" href="">Help</a>
            <a class="footer-links" href="">Status</a>
            <a class="footer-links" href="">Writers</a>
            <a class="footer-links" href="">Blog</a>
            <a class="footer-links" href="">Careers</a>
            <a class="footer-links" href="">Privacy</a>
            <a class="footer-links" href="">Terms</a>
            <a class="footer-links" href="">About</a>
            <a class="footer-links" href="">Text to Speech</a>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
