<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Membership</title>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/application.css">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/membership-page.css">
  </head>

  <body>
    <header class="section-outer">
      <div class="section-inner header-inner">
        <img src="../../assets/images/medium-logo.png">
        <nav>
          <ul>
            <li><a href="#">Our story</a></li>
            <li><a href="#">Membership</a></li>
            <li><a href="#">Write</a></li>
            <li><a href="#">Sign In</a></li>
            <li><a class="header-get-started-button" href="#">Get unlimited access</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="grid-container container1">
      <div class="item fuel-great-thinking">
        <h2>Fuel great thinking</h2>
        <p>
          Become a medium member to enjoy unlimited access and directly support the writers you read most.
        </p>

        <a class="button-primary">
          Get unlimited access.
        </a>

      </div>
    </div>

    <div class="grid-container container2">
      <div class="item">
        <h2>Get unlimited access to every story.</h2>
        <div class=text-img1>
          <img src="https://cdn-static-1.medium.com/sites/medium.com/membership/images/UnlimitedReading.svg">
          <span>
            Read any article in our entire library across all your devices - with no pay walls, story limits or ads.
          </span>
        </div>
      </div>

      <div class="item">
        <h2>Support the voices you want to hear more from.</h2>
        <div class="text-img2">
          <img src="https://cdn-static-1.medium.com/sites/medium.com/membership/images/SupportWriters.svg">
        </div>
        <span>
          A portion of your membership will directly support the writers and thinkers you read the most.
        </span>
      </div>
    </div>

    <div class="grid-container container3">
      <div class="item">
        <div class='h2-center-wrap'>
          <h2 class="header-2">Why I'm a Medium Member...</h2>
        </div>
        <div class="carousel-slide">

          <img class="slide-img" src="https://cdn-static-1.medium.com/sites/medium.com/membership/images/Membership_Molina-1.png">

          <div class="carousel-half-circle"></div>
          <div class="carousel-half-circle-2"></div>

          "My favorite thing about a Medium membership is endlessly reading up-and-coming and well-known writers alike."T.S. Lowry

        </div>
      </div>
    </div>

    <div class="grid-container container4">
      <div class="item take-your-mind">
        <h1>Take your mind in new directions</h1>
        <a href="#" class="button-secondary">
              Get unlimited access
        </a>
        <div class="membership-footer">
          <img src="https://cdn-static-1.medium.com/sites/medium.com/membership/images/Membership_Footer.svg">
        </div>
      </div>
    </div>

    <div class="grid-container container5 medium-footer">

      <div class="item">
        <div>
          <img src="../../assets/images/medium-logo.png">
        </div>
      </div>

      <div class="item">
        <div class ="p-footer">
          Every idea needs a medium.
        </div>
      </div>

      <div class="item">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Teams</a></li>
        </ul>
      </div>
    </div>

  </body>
</html>
