<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Our Story</title>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/application.css">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/page-our-story.css">
  </head>
  <body>
    <header class="section-outer">
      <div class="section-inner header-inner">
        <img src="../../assets/images/medium-logo.png">
        <nav>
          <ul>
            <li><a href="#">Our story</a></li>
            <li><a href="#">Membership</a></li>
            <li><a href="#">Write</a></li>
            <li><a href="#">Sign In</a></li>
            <li><a class="header-get-started-button" href="#">Get Started</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="grid-container container1">
      <div class="item">Big Ass Paragraph</div>
      <div class="item">Globe Image</div>
    </div>

    <div class="a-living-network-of-curious-minds">A living network</div>
    <div class="grid-container a-living-network-of-curious-minds-items">
      <div class="item">1</div>
      <div class="item">2</div>
      <div class="item">3</div>
      <div class="item">4</div>
      <div class="item">5</div>
      <div class="item">6</div>
      <div class="item">7</div>
      <div class="item">8</div>
      <div class="item">9</div>
      <div class="item">10</div>
      <div class="item">11</div>
      <div class="item">12</div>
    </div>
    <div class="grid-container hundred-million-readers">
      <div class="item">text</div>
      <div class="item">image</div>
    </div>
    <div class="grid-container create-the-space">
      <div class="item">hero</div>
      <div class="item">button</div>
    </div>
    <div class="grid-container get-more-with-membership">
      <div class="item">hero2</div>
      <div class="item">button</div>
    </div>
    <div class="grid-container read-and-reward">
      <div class="item">text</div>
      <div class="item">text</div>
    </div>
    <div class="grid-container take-medium-with-you">
      <div class="item">header</div>
      <div class="item">button</div>
      <div class="item">button</div>
    </div>
    <div class="grid-container learn-more">
      <div class="item">hero3</div>
      <div class="item">text/button</div>
      <div class="item">text/button</div>
    </div>
    <div class="grid-container read-write-expand">
      <div class="item">image</div>
      <div class="item">header/button</div>
    </div>
  </body>
  </html>
