<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Our Story</title>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/application.css">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/page-our-story.css">
  </head>
  <body>
    <header class="section-outer">
      <div class="section-inner header-inner">
        <img src="../../assets/images/medium-logo.png">
        <nav>
          <ul>
            <li><a href="#">Our story</a></li>
            <li><a href="#">Membership</a></li>
            <li><a href="#">Write</a></li>
            <li><a href="#">Sign In</a></li>
            <li><a class="header-get-started-button" href="#">Get Started</a></li>
          </ul>
        </nav>
      </div>
    </header>
        <div class="grid-container container0">
      <div class="item">
        <h1>Every idea needs a Medium.</h1>
      </div>
    </div>
    <div class="grid-container container1">
      <div class="item">
        <p>
          The best ideas can change who we are. Medium is where those ideas take shape, take off, and spark powerful conversations. We’re an open platform where over 100 million readers come to find insightful and dynamic thinking. Here, expert and undiscovered voices alike dive into the heart of any topic and bring new ideas to the surface. Our purpose is to spread these ideas and deepen understanding of the world.
        </p>
        <p>
          We’re creating a new model for digital publishing. One that supports nuance, complexity, and vital storytelling without giving in to the incentives of advertising. It’s an environment that’s open to everyone but promotes substance and authenticity. And it’s where deeper connections forged between readers and writers can lead to discovery and growth. Together with millions of collaborators, we’re building a trusted and vibrant ecosystem fueled by important ideas and the people who think about them.
        </p>
      </div>
      <div class="item medium-globe-container">
        <img src="../images/medium-globe.png" class="medium-globe">
      </div>
    </div>

    <div class="a-living-network-of-curious-minds">
      <h1>A living network of curious minds</h1>
      <p>
        Anyone can write on Medium. Thought-leaders, journalists, experts, and individuals with unique perspectives share their thinking here. You’ll find pieces by independent writers from around the globe, stories we feature and leading authors, and smart takes on our own suite of blogs and publications.
      </p>
    </div>
    <div class="grid-container a-living-network-of-curious-minds-items">
      <div class="item">
        <div class="living-network-people">
          <div class="living-network-image">
            <img src="https://cdn-static-1.medium.com/sites/medium.com/about/images/Erica_Dhawan_clip.png" width="50" height="50">
          </div>
          <div class="living-network-text">
            Erica Dhawan
          </div>
        </div>
      </div>
      <div class="item">
        <img src="https://cdn-static-1.medium.com/sites/medium.com/about/images/DevonPrice_1DevonPrice.png" width="50" height="50">
      Devon Price
    </div>
      <div class="item">
        <img src="https://cdn-static-1.medium.com/sites/medium.com/about/images/tri-col-item-03_1tri-col-item-03.png" width="50" height="50">
      GEN
    </div>
      <div class="item">
        <img src="https://cdn-static-1.medium.com/sites/medium.com/about/images/tri-col-item-04_1tri-col-item-04.png" width="50" height="50">
      Scott Galloway
    </div>
      <div class="item">
        <img src="https://cdn-static-1.medium.com/sites/medium.com/about/images/KakiOkumura_1KakiOkumura.png" width="50" height="50">
      Kaki Okumura
    </div>
      <div class="item">
        <img src="https://cdn-static-1.medium.com/sites/medium.com/about/images/Hal_Harris_clip.png" width="50" height="50">
      Hal H. Harris
    </div>
      <div class="item">
        <img src="https://cdn-static-1.medium.com/sites/medium.com/about/images/tri-col-item-07_1tri-col-item-07.png" width="50" height="50">
      OneZero
    </div>
      <div class="item">
        <img src="https://cdn-static-1.medium.com/sites/medium.com/about/images/CarvellWallace_1CarvellWallace.png" width="50" height="50">
      Carvell Wallace
    </div>
      <div class="item">
        <img src="https://cdn-static-1.medium.com/sites/medium.com/about/images/tri-col-item-09_1tri-col-item-09.png" width="50" height="50">
      Elemental
    </div>
      <div class="item">
        <img src="https://cdn-static-1.medium.com/sites/medium.com/about/images/SarahCottrell_1SarahCottrell.png" width="50" height="50">
      Sarah Cottrell
    </div>
      <div class="item">
        <img src="https://cdn-static-1.medium.com/sites/medium.com/about/images/tri-col-item-11_1tri-col-item-11.png" width="50" height="50">
      Forge
    </div>
      <div class="item">
        <img src="https://cdn-static-1.medium.com/sites/medium.com/about/images/Level_1Level.png" width="50" height="50">
      LEVEL
    </div>
    </div>
    <div class="grid-container hundred-million-readers">
      <div class="item">
        <h1>Over 100 million readers and growing.</h1>
      </div>
      <div class="item carousel-box">
<!--         <div class="carousel-parent">
          <div class="carousel-child-1"></div>
          <div class="carousel-child-2"></div>
        </div> -->
        <img class="carousel-image" src="https://cdn-static-1.medium.com/sites/medium.com/about/images/About_Bina-1.png">
        <div class="carousel-half-circle"></div>
        <div class="carousel-small-circle"></div>
        <p>
          "There’s no other place that combines such an excellent level of writing with a truly engaged and active community. Medium is truly where ideas are born, shared, and spread."
          <br></br>
          <br>Jasmine Bina<br>
        </p>
      </div>
    </div>
    <div class="grid-container create-the-space">
      <div class="item">
        <h1>Create the space for your thinking to take off.</h1>
        <p>A blank page is also a door. At Medium you can walk through it. It's easy and free to share your thinking on any topic, connect with an audience, express yourself with a range of publishing tools, and even earn money for your work.
        </p>
    </div>
    <a href="https://medium.com/creators"target="_blank" class="create-the-space-button">
      <div class="create-the-space-button">
        <div class="create-the-space-button-text">Write on Medium</div>
      </div>
    </a>
    </div>
    <div class="grid-container get-more-with-membership">
      <div class="item">
        <h1>Get more with membership</h1>
        <p>Become a Medium member to enjoy unlimited access and directly support the writers you read most.
        </p>
        <a href="https://medium.com/m/signin" class="see-membership-button-style">
          <div class="see-membership-button">
            <div class="item see-membership-button-text">See membership options</div>
        </div>
        </a>
      </div>
    </div>
    <div class="grid-container read-and-reward-bifold">
      <div class="item">
        <div class="read-as-much-box">
          <h3>Read as much as you want</h3>
          <img src="https://cdn-static-1.medium.com/sites/medium.com/about/images/UnlimitedReading.svg" width="260" height="135">
        </div>
      </div>
      <div class="item">
        <div class="reward-quality-box">
          <h3>Reward quality content</h3>
          <img src="https://cdn-static-1.medium.com/sites/medium.com/about/images/SupportWriters.svg" width="250" heignt="135">
        </div>
      </div>
    </div>
    <div class="grid-container take-medium-with-you">
      <div class="item">
        <h1 class="take-medium-h1">Take Medium with you</h1>
        <p>
          Download our app so you can read wherever you are.
        </p>
        <a class="">
          <img class="appstore" src="https://cdn-static-1.medium.com/sites/medium.com/about/images/AppleStore_2x.png" width="">
        </a>
        <a class="">
          <img  class="playstore" src="https://cdn-static-1.medium.com/sites/medium.com/about/images/PlayStore_2x.png" width="">
      </a>
      <img class="graph" src="https://cdn-static-1.medium.com/sites/medium.com/about/images/creator-find-points-iphones.png" width="">
      </div>
    </div>
    <div class="grid-container learn-more">
      <div class="item">
        <h1>Learn more about us. Or join us.</h1>
      </div>
      <div class="item">
        <h2>The Medium blog/button</h2>
        <p>Visit our company blog for latest news, product updates, and tips and tricks.
        </p>
        <h2>Work at Medium/button</h2>
        <p>Our team is home to engineers, journalists, artists, and creatives of all stripes.
        </p>
      </div>
    </div>
    <div class="grid-container read-write-expand">
      <div class="item">
        <img src="../images/medium-cube.png" width="700" height="500">
    </div>
      <div class="item">
        <h1>Read, Write, and expand your world/button</h1>
      </div>
    </div>
  </body>
  </html>
