<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Our Story</title>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/our-story-medium.css">
  </head>
  <body>
    <header class="section-outer">
      <div class="section-inner header-inner">
        <img src="../../assets/images/medium-logo.png">
        <nav>
          <ul>
            <li><a href="#">Our story</a></li>
            <li><a href="#">Membership</a></li>
            <li><a href="#">Write</a></li>
            <li><a href="#">Sign In</a></li>
            <li><a class="header-get-started-button" href="#">Get Started</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <h1 class="h1-hero">Every idea needs a Medium</h1>
    <div class="grid-container">
      <div class="container1">item</div>
      <div class="container2">item</div>
      <div class="container3">item</div>
      <div class="container4">item</div>
      <div class="container5">item</div>
      <div class="container6">item</div>
      <div class="container7">item</div>
      <div class="container8">item</div>
      <div class="container9">item</div>
      <div class="container10">item</div>
    </div>


  </body>
  </html>
